NODE_ENV=development
TELEGRAM_BOT_TOKEN=your_bot_token_here
BACKEND_URL=http://localhost:4000
# Для продакшна с кастомным доменом:
# BACKEND_URL=https://api.cryptalis.su
MINIAPP_URL=
# Для продакшна с кастомным доменом:
# MINIAPP_URL=https://app.cryptalis.su
